setting.txt

mp0/.idea/
mp0/.idea/*
mp0/node_modules
mp0/node_modules/*
mp0/public/
mp0/public/*
.DS_Store
mp1/.idea/
mp1/.idea/*
mp1/node_modules
mp1/node_modules/*
mp1/public/
mp1/public/*
mp1/dist/
mp1/dist/*%

.vscode/
.vscode/* 
