html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    height: 10vh;
    background-color: coral;
    position: fixed;
    width: 100%;
    top: 0;
    .main-nav{
        font-size: 1em;
        //vertically centered
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        ul{
            margin: 0;
            padding: 0;
            list-style-type:none;
            text-align: left;
        }
        li {
            float: left;
        }
        a {
            display: block;
            text-decoration: none;
            padding: 2vh;
            margin: 1.5vh;
            color:white;
            font-style: bold;
            font-weight: bold;
        }
        a:hover{
            color:#e03d02 !important;
            font-weight: bolder !important;
            box-shadow: 5px !important;
            background-color:#d3d3d3 !important;
            opacity: 0.6 !important;
        }
    }
}

.main-footer{
    margin: 0;
    padding: 0;
    position: absolute;
    height: 15vh;
    width: 100%;
    background-color:coral;
    color: white;
    text-align: center;

    .main-disclosure{
        position: relative;
        padding: 30px;
    }
}


.main-content{
    padding-top: 10vh;
    min-height: 90vh;
    width: 100%;
    h2{
        margin:0;
        padding:0;
        font-weight: bold;
        font-size:2em;
        padding-top: 50px;
        letter-spacing: 3px;
    }
    p{
        font-size: 1.4em;
    }
    a{
        text-decoration: none;
    }
}

#gallery{
    min-height: 60vh;
    height: auto;
    img {
        width: 15vh;
        height: 22vh;
    }
    ul {
        margin: auto;
        height: auto;
        width: 80%;
        padding-top: 15vh;
        list-style: none;
        display: inline-block;
    }
    li {
        float: left;
        // padding: 20px;
        height: auto;
        margin:auto;
        padding: 3vh;
    }
    a:hover{
        opacity: 0.6;
    }
}

#about{
    min-height: 60vh;
    height: auto;
    background-color:rgb(192, 167, 158);
    color: white;
    display: inline-block;
    h2{
        column-span: all;
        clear: both;
    }
    p{
        margin:0;
        padding:0;
    }
    #about-content{
        column-count: 3;
        column-width: 30%;
        column-gap: 100px;
        text-align: left;
        padding-top: 5vh;
        padding-bottom:  5vh;
        padding-left: 10vh;
        padding-right: 10vh;
    }
}

#contact{
    height: 70vh;
    background-color:rgb(240, 236, 236);
    color:rgb(133, 111, 104);
}

#background{
    height: 20vh;
    background-color:rgb(240, 236, 236);
    //background-image: url("../assets/4.jpg");
}
