html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    height: 10vh;
    background-color: coral;
    position: fixed;
    width: 100%;
    top: 0;
    .main-nav{
        font-size: 1em;
        //vertically centered
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        ul{
            margin: 0;
            padding: 0;
            list-style-type:none;
            text-align: left;
        }
        li {
            float: left;
        }
        a {
            display: block;
            text-decoration: none;
            padding: 2vh;
            margin: 1.5vh;
            color:white;
            font-style: bold;
            font-weight: bold;
        }
        a:hover{
            color:#e03d02 !important;
            font-weight: bolder !important;
            box-shadow: 5px !important;
            background-color:#d3d3d3 !important;
            opacity: 0.6 !important;
        }
    }
}

.main-footer{
    margin: 0;
    padding: 0;
    position: absolute;
    height: 15vh;
    width: 100%;
    background-color:coral;
    color: white;
    text-align: center;

    .main-disclosure{
        position: relative;
        padding: 30px;
    }
}


.main-content{
    padding-top: 10vh;
    min-height: 90vh;
    width: 100%;
    h2{
        margin:0;
        padding:0;
        font-weight: bold;
        font-size:2em;
        padding-top: 50px;
        letter-spacing: 3px;
    }
    p{
        font-size: 1.4em;
    }
}

#gallery{
    min-height: 60vh;
    height: auto;
    img {
        width: 15vh;
        height: 22vh;
    }
    ul {
        margin: auto;
        height: auto;
        width: 80%;
        padding-top: 15vh;
        list-style: none;
        display: inline-block;
    }
    li {
        float: left;
        // padding: 20px;
        height: auto;
        margin:auto;
        padding: 3vh;
    }
    .modal-link:hover,.modal-link:focus{
        opacity: 0.6;
        cursor: pointer;
    }
}

#about{
    min-height: 60vh;
    height: auto;
    background-color:rgb(192, 167, 158);
    color: white;
    display: inline-block;
    padding-bottom: 3vh;
    h2{
        column-span: all;
        clear: both;
    }
    p{
        margin:0;
        padding:0;
    }
    #about-content{
        column-count: 3;
        column-width: 28%;
        column-gap: 10vh;
        text-align: center;
        padding-top: 5vh;
        padding-bottom:  5vh;
        padding-left: 15vh;
        //text
        padding-right: 15vh;
        font-style: normal;
        img {
            height: 10vh;
            width: 10vh;
            padding-bottom: 4vh;
        }
        .column-content{
            //display: inline-block;
            break-inside: avoid-column;
            -webkit-column-break-inside: avoid;
        }
    }
}

#contact{
    height: 70vh;
    background-color:rgb(240, 236, 236);
    color:rgb(133, 111, 104);
}

#background{
    height: 20vh;
    background-color:rgb(240, 236, 236);
    //background-image: url("../assets/4.jpg");
}


//deal with the modal
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    background-color: rgba(131, 131, 131,0.6);
    width: 100%;
    height: 100%;
    overflow: auto;
    .modal-content-wapper{
        background-color:rgb(255, 255, 255);
        margin: 20% auto;
        padding: 20px;
        width: 70%;
        .modal-content{
            display: none;
        }
    }
}

.close-btn{
    float: right;
    color:lightgray;
    font-size: 30px;
}

.close-btn:hover,.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}